<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calling Diary!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/pageController.js"></script>
    <script type="text/javascript" src="../js/memberController.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="modal" id="myModal" style="margin-top : 210px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="title text-default" id="myModalLabel">Calling Diary!</h3>
                            <h2 class="title text-default">아이디 찾기</h2>
                        </div>
                        <div class="modal-body">
                            <form action="/member/findId" method="post">
                                <div class="form-group">
                                    <label for="phoneNumber" class="control-label">휴대 전화</label><br>
                                    <input type="text" class="form-control-phoneNumber" id="phoneNumber" name="phonenumber" placeholder="휴대전화 번호 입력" onchange="checkPhoneNumber_pattern('findAccount')">
                                    <button type="button" class="btn btn-primary" id="btnCertificate" onclick="certificate()">본인 인증</button>
                                    <br>
                                    <p class="text-primary"> - '-' 를 제외하고 입력해주세요</p>
                                    <p id="phonNumber_patternCheck"></p>

                                    <label for="checkNumber" class="control-label">인증번호 확인</label><br>
                                    <input type="text" class="form-control-phoneNumber" style="width:75% !important;" id="checkNumber" placeholder="인증번호 입력">
                                    <button type="button" class="btn btn-primary" onclick="checkNumberConfirm()">인증번호 확인</button>
                                    <br>
                                    <p class="text-primary"> - 문자 메시지로 전송된 인증번호를 입력해주세요</p>
                                    <p id="phoneNumberCheck"></p>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-primary" id="btnfindId" value="아이디 찾기" disabled>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>