<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        let loginFail = '[[${loginFail}]]';

        if(loginFail === "notExistAccount"){
            alert("존재하지 않는 아이디 입니다.");
            location.href="/login";
        }
        else if(loginFail === "passwdNotCorrect"){
            alert("비밀번호가 일치하지 않습니다.");
            location.href="/login";
        }
    </script>
</head>
<body>

</body>
</html>