<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/pageScript.js"></script>
    <script type="text/javascript" src="../js/memberScript.js"></script>
    <title>Calling Diary!</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal" id="myModal" style="margin-top : 210px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="title text-default" id="myModalLabel">Calling Diary!</h3>
                                <h2 class="title text-default">로그인</h2>
                            </div>
                            <div class="modal-body">
                                <form action="/member/login" method="post" id="loginForm">
                                    <div class="form-group">
                                        <label for="userId" class="control-label">아이디</label>
                                        <input type="text" class="form-control-userid" id="userId" name="userid" placeholder="아이디 입력"><br>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwd" class="control-label">비밀번호</label>
                                        <input type="password" class="form-control-passwd" id="passwd" name="passwd" placeholder="비밀번호 입력"><br>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <span class="findAccount">
                                                <a href="/move/findIdForm">아이디 찾기</a>&nbsp;&nbsp;
                                                <a href="/move/findPwdForm">비밀번호 찾기</a>
                                            </span>
                                        </div>
                                    </div>
                                    
                                    <div class="modal-footer">
                                        <input type="button" class="btn btn-primary" id="btnLogin" value="로그인" onclick="login()">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>