<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Calling Diary!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script type="text/javascript" src="../js/pageScript.js"></script>
    <script type="text/javascript" src="../js/memberScript.js"></script>
    <script type="text/javascript" th:inline="javascript">
        let memberSession = $.parseJSON('[[${session.member}]]');
    </script>
    <script type="text/javascript" th:src="@{../js/mypageScript.js}"></script>
    <script type="text/javascript" th:src="@{../js/calendarScript.js}"></script>
</head>
<body>
  <div class="headerDIV">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-4"></div>
      <div role="tabpanel" class="mainIndex bg-warning col-xs-4" style="top: 10% !important; border-radius: 10%;">
        <!-- Nav tabs -->
        <h2 class="title">마이페이지</h2>
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#memberData" aria-controls="memberDataTab" role="tab" data-toggle="tab">회원 정보</a>
          </li>
          <li role="presentation"><a href="#allCalendarTab" aria-controls="allCalendarTab" role="tab" data-toggle="tab">등록한 전체 일정</a>
          </li>
          <li role="presentation"><a href="#favoriteCalendarTab" aria-controls="favoriteCalendarTab" role="tab" data-toggle="tab">즐겨찾기한 일정</a>
          </li>
          <li role="presentation"><a href="#smsReservationTab" aria-controls="smsReservationTab" role="tab" data-toggle="tab">문자 알림지정</a>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="memberData">
            <!-- 회원 기본정보, 최근 작성한 일정 몇가지 출력 -->
            <h2 class="myPageTitle">나의 프로필 <a href="/secessionPage" onclick="" style="font-size: 15px;">회원 탈퇴</a></h2>
            <span class="myPageNickname">
              &nbsp;&nbsp;닉네임 : <em th:text="${session.member.nickname}" style="font-size: 22px;"></em>
            </span>

            <!-- 추후 구현 가능하면 휴대폰 알림 수신 여부 동의버튼도 추가할 것 -->
            <br>
            <button class="btn btn-sm btn-danger btnMemberUpdate" onclick="updateDataPage()">회원 정보 수정하기</button>
            <hr>
            <div class="memberDesc">
            </div>
            <hr>
            <!-- 최근 작성한 일정 목록(최대 5개까지 간략하게 노출) -->
            <h2 class="myPageTitle">최근 작성한 일정 목록</h2>
            <div class="col-xs-12">
              <script>callEventMypage()</script>
              <div class="eventPrint"></div>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="allCalendarTab">
            <!-- 등록한 전체 일정 탭, 등록된 일정을 10개 단위로 페이지네이션 해서 읽어온다. 당연히 검색기능도 제공 -->
            <h2 class="myPageTitle">전체 일정 목록</h2>
            <div class="col-xs-12">
              <script>callEventMypageFull()</script>
              <div class="eventPrintFullTab"></div>
              <nav class="eventNav">
                <ul class="pagination eventPrintFull">
                </ul>
              </nav>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="favoriteCalendarTab">
            <!-- 즐겨찾기한 일정 목록, 즐겨찾기한 일정을 10개 단위로 페이지네이션 해서 읽어온다. 검색기능 역시 제공-->
            <h2 class="myPageTitle">즐겨찾기한 일정 목록</h2>
            <div class="col-xs-12">
              <script>callEventMypageFav()</script>
              <div class="eventPrintFavTab"></div>
              <nav class="eventNav">
                <ul class="pagination eventPrintFav"></ul>
              </nav>
            </div>
          </div>

          <div role="tabpanel" class="tab-pane" id="smsReservationTab">
            <!-- 즐겨찾기한 일정에 대해 시간별 문자 알림 설정-->
            <h2 class="myPageTitle">문자알림 설정</h2>
            <h4 class="myPageTitle">- 즐겨찾기한 일정에 대해 문자 알림을 설정할 수 있습니다.</h4>
            <h4 class="myPageTitle">- 문자의 전송날짜는 일정의 시작일로 고정 되어있습니다.</h4>
            <hr>
            <div class="col-xs-12">
              <script>smsReservationPage()</script>
              <ul class="smsReservation"></ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-4"></div>
    </div>
  </div>

  <!-- 이벤트 상세 표시 모달 -->
  <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="title" id="myModalLabel">일정 상세</h4>
        </div>
        <div class="modal-body">
            <ul class="dateList">
              <li class="dateList-detail">
                <label for="startDate" class="control-label">시작 일</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
              </li>
              <li class="dateList-detail">
                <label for="endDate" class="control-label">종료 일</label>
                <input type="date" class="form-control" id="endDate" name="endDate"><br>
              </li>
            </ul>

            <br><br><br><br>
            <label><input type="checkbox" name="favorite" id="favorite"> 즐겨찾기 등록하기</label> <br>
            <label for="eventTitle" class="control-label">제목</label>
            <input type="text" class="form-control" id="eventTitle" name="title"><br>

            <label for="eventDesc" class="control-label">상세</label>
            <textarea name="eventDesc" class="eventDesc form-control" id="eventDesc"></textarea>

            <div class="modal-footer">
              <input type="hidden" id="eventid">
              <button type="button" class="btn btn-primary" onclick="eventUpdate()">수정</button>
              <button type="button" class="btn btn-danger" onclick="eventDelete()">삭제</button>
              <button type="button" class="btn btn-default" id="modalClose" data-dismiss="modal">취소</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 문자 알림시간 설정 모달  -->
  <div class="modal fade" id="smsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="title" id="myModalLabel">문자 예약</h4>
        </div>
        <div class="modal-body">
          <form th:action="@{/events/} + ${session.member.uid} + @{/creation}">
            <input type="time" name="reservationTime">

            <label for="eventTitle" class="control-label">알림 메시지 내용</label>
            <textarea type="text" class="form-control" id="messageText" name="messageText" maxlength="60" style="width: 100%;"></textarea><br>
            <p>문자 메시지 내용은 60자 까지 입력 가능합니다.</p>

            <div class="modal-footer">
              <input type="hidden" id="eventid" name="eventid">
              <input type="hidden" id="start" name="start">
              <button type="submit" class="btn btn-primary">적용</button>
              <button type="button" class="btn btn-default" id="modalClose" data-dismiss="modal">취소</button>
            </div>
          </form>       
        </div>
      </div>
    </div>
  </div>
</body>
</html>