<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calling Diary!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script type="text/javascript" src="../js/pageScript.js"></script>
    <script type="text/javascript" src="../js/memberScript.js"></script>
    <script type="text/javascript" src="../js/mypageScript.js"></script>
    <!-- 외부 자바스크립트 파일에 세션 데이터 전송 -->
    <script type="text/javascript" th:inline="javascript">
        let memberSession = $.parseJSON('[[${session.member}]]');
    </script>
    <script type="text/javascript" th:src="@{../js/mypageScript.js}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <div class="modal" id="myModal" style="margin-top : 210px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="title text-default" id="myModalLabel">Calling Diary!</h3>
                    <h2 class="title text-default">닉네임 변경</h2>
                  </div>
                  <div class="modal-body">
                      <div class="form-group">
                        <label for="nickname" class="control-label">닉네임(*)</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="닉네임 입력" onchange="checkNickname_pattern()"><br>
                        <p class="text-primary"> - 특수문자를 제외한 2~20자리 닉네임을 작성해주세요</p>
                        <p id="nicknameCheck"></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="btnNicknameUpdate" onclick="updateNickname()" disabled>닉네임 변경</button>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>