<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <script type="text/javascript" src="../js/memberController.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Calling Diary!</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="title text-default" id="myModalLabel">Calling Diary!</h3>
                                <h2 class="title text-default">회원 가입</h2>
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <div class="form-group">
                                        <label for="userId" class="control-label">아이디(*)</label>
                                        <input type="text" class="form-control" id="userId" placeholder="아이디 입력" onchange="checkId_pattern()"><br>
                                        <p class="text-primary"> - 첫 시작은 영문자로 해주세요</p>
                                        <p class="text-primary"> - 영문, 또는 숫자를 포함한 4-20자리의 아이디를 작성해주세요</p>
                                        <p id="idCheck"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwd" class="control-label">비밀번호(*)</label>
                                        <input type="password" class="form-control" id="passwd" placeholder="비밀번호 입력" onchange="checkPwd_pattern()"><br>
                                        <p class="text-primary"> - 숫자,특문 각 1회 이상, 영문은 2개 이상을 사용해주세요</p>
                                        <p class="text-primary"> - 8자리 이상 입력해주세요</p>
                                        <p id="pwdCheck"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="checkPasswd" class="control-label">비밀번호 확인(*)</label>
                                        <input type="password" class="form-control" id="checkPasswd" placeholder="비밀번호 확인" onchange="checkPwd_repeat()" disabled><br>
                                        <p class="text-primary"> - 비밀번호를 한번 더 입력해주세요</p>
                                        <p id="pwdCheckRepeat"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="nickname" class="control-label">닉네임(*)</label>
                                        <input type="text" class="form-control" id="nickname" placeholder="닉네임 입력"><br>
                                        <p id="nicknameCheck"></p>
                                    </div>
                                    <div class="form-group">
                                        <label for="phoneNumber" class="control-label">휴대 전화</label>
                                        <input type="text" class="form-control" id="phoneNumber" placeholder="휴대전화 번호 입력"><br>
                                        <p class="text-primary"> - '-' 를 제외하고 입력해주세요</p>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btnRegister" disabled>Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>