<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calling Diary!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href='../css/main.css' rel='stylesheet' />
    <script src='../js/main.js'></script>
    <script src="../js/calendar.js"></script>
    <script type="text/javascript" th:inline="javascript">
        let memberSession = $.parseJSON('[[${session.member}]]');
    </script>
    <script type="text/javascript" th:src="@{../js/mypageScript.js}"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                selectable: true,
                height: 850,
                select: function(info){
                    alert("일정을 등록 하시겠습니까?");
                },
                eventClick:function(info){
                    alert(info.event.title);
                    alert(info.event.extendedProps.description);
                }
            });
            let events = 
                {
                    id:'firstEvent',
                    title:'firstEvent',
                    start: new Date('2022-06-29' + 'T00:00:00'),
                    end:new Date('2022-06-29' + 'T00:00:00'),
                    description:'description print',
                    backgroundColor:'rgba(255,0,0,0.46)',
                    textColor:'blue',
                    allDay: true
                }
                // {
                //     id:'secondEvent',
                //     title:'secondEvent',
                //     start: new Date('2022-06-29' + 'T00:00:00'),
                //     end:new Date('2022-06-29' + 'T00:00:00'),
                //     description:'event',
                //     backgroundColor:'red',
                //     textColor:'white',
                //     allDay: true
                // }
            
            calendar.addEvent(events);
            calendar.render();
        });
    </script>
</head>
<body>
    <div class="headerDIV">
    </div>
    <div id='calendar'></div>
</body>
</html>