@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body{
    background-color : green;
}
.title {
    text-align: center;
    font-family: 'Jua', sans-serif;
}
.indexButton{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    margin-bottom: 15px;
}
.mainIndex{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.termsForm{
    background-color: aliceblue;
}
.txtArea{
    width:100%;
    height:200px;
}
.firsttermsText{
    margin-left:45px;
}
.secondtermsText{
    margin-left:90px;
}
.btnGrid{
    position:relative;
    left:14%
}
#myModal{
    margin-top : 120px;
}
