<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/pageController.js"></script>
</head>
<body>
    <div class="jumbotron" style="background-color:green;">
        <div class="container-fluid mainIndex">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="title" style="color:yellow;">Calling Diary!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="title" style="color:yellow;">특별한 날을 기억하기 위한 당신만의 일정표!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-lg btn-warning indexButton" onclick="moveLogin()">로그인</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-lg btn-warning indexButton" onclick="openTerms()">회원가입</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>