<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    <h1>스프링 부트 내부 톰캣 정상 동작 확인</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 bg-primary">
                    부트스트랩 정상작동 확인
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae expedita fuga ipsam minima molestias quos soluta voluptatibus. A aperiam deserunt dicta explicabo fugiat in modi possimus quaerat quidem tenetur.
            </div>
            <div class="col-xs-4 bg-warning">
                    부트스트랩 정상작동 확인
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae expedita fuga ipsam minima molestias quos soluta voluptatibus. A aperiam deserunt dicta explicabo fugiat in modi possimus quaerat quidem tenetur.
            </div>
            <div class="col-xs-4 bg-danger">
                    부트스트랩 정상작동 확인
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi beatae expedita fuga ipsam minima molestias quos soluta voluptatibus. A aperiam deserunt dicta explicabo fugiat in modi possimus quaerat quidem tenetur.
            </div>
        </div>
    </div>
</body>
</html>